body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.bg{
    background-color: #2f3349;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: 12px;
  background: #17121d;
}

::-webkit-scrollbar-thumb {
  background: #2f3349;
  border-radius: 10px;
}


.offcanvas{
  background-color: #2f3349!important;
}

.mt-n2 {margin-top: -6em!important;}
.mt-n4 {margin-top: -13em!important;}

.bg-info h1, .bg-info h5, .home.content h1 {color:#c5c5c5!important;}

.bg-sorrel-nav {background: #17121d73!important;}


.bg-sorrel {
    color:#c5c5c5!important;
    min-height: 250px;
    background: #17121d73!important;
    box-shadow: 0px 2px 2px #109e77;
    /*background: linear-gradient(180deg, rgba(53,27,109,1) 0%, #2f3349)!important;*/
  }

.offcanvas-header.bg-info {
  min-height:100px!important;
  background-color: #17121d73!important;
}

.navmenu i,.vault-item h6{color: #7b8ab8;}

.navmenu{
  background-color: #1d1b2e!important;
  position: fixed!important;
/*  border-right: 3px solid #13c56b;*/

}

.sorrel-success{background-color: #109e7747!important; text-align: center;}
.sorrel-success a{color:#fff!important; text-decoration: none!important;}

.text-sorrel-green{color: #109e77;}

.btn-outline-info {
  background-color: #7a45a5!important;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.btn-outline-info:hover {
  background-color: #6d3893!important;
}


/* .text-sorrel-purple {color: #7a45a5;}*/

.home .carousel .card{
  min-height: 600px!important;
}

.home.content .card{
  min-height: 400px;
}


.bal-card, .info-card{

    border: 1px solid #2f3349;
    color:#485785;
    padding: 3em;
    border-radius: 20px;
    margin: 2em 0em;
/*    background-color:#8b3bdd66;*/


}

.btn-concierge {
    border-bottom: 5px solid #129874!important;
}


.accounts.content {
    min-height: 900px;
}

.owned-accounts .btn{
margin-top:0px!important;
}

.btn, .currency-acc{
/*  box-shadow: 1px 1px 8px #b7a3a570;*/
  border-radius: 12px!important;
}

.accounts .btn, .info-card .btn, .web3-connect .btn {
  margin:10px;
}

.currency-acc .apr-info h6, .vault-item .apr-info h6{
color:#10a265!important;
font-weight: bold;
}

.vault-item img{
  margin-top: -20px!important;
  margin-right: 10px!important;
}

.mt-n10 {margin-top: -10rem !important;}

.currency-acc .fa-user-astronaut{font-size: 35px;width: 40px;}


.currency-acc img{
  margin-top: -20px!important;
  margin-right: 10px!important;
    border-radius: 25% !important;
    border: 1px solid;
    padding: 2px;
}

.btn-web3 .wallet-addr {color: #7a45a5;}
.btn-web3 .small {color: #109e77; font-size: 0.7rem;}

.btn-web3 {
  background: #2f3349!important;
}

.btn, .btn-group {box-shadow: none!important;}

.nav-items .nav-item{padding: 0 1em 0 1em;}


.currency-name, .account-name{display: inline-block!important;}

.card-title{
  font-weight: 600;
}

.accounts .btn-primary {
    border-bottom: 5px solid #7a45a5!important;
}


.accounts .fa-bolt{
    position: absolute;
    background: #7a45a5;
    border-radius: 30px;
    color: white;
    padding: 6px 8px;
    font-size: 8px;
    top: -5px;
    right: 0px;
}

.offcanvas .fa-bolt {
    color: #7a45a5;
}

.rowCard {
    border-radius: 15px;
    border: 1px solid #434968;
    background-color: #2f3349;
}

.rowCard:hover {
    background-color: #1d1b2e;
    color: aliceblue;
/*    opacity: .7;*/
}

.border-green {
  border:2px solid #43cc29!important;
}


.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{

  background-color: #7a45a5!important;
}


.btn-web3:first-child:active {
    background-color: #2f3349!important;
    color: #7b8ab8!important;
}

.btn-web3 img {
    margin-top: -4px;
    margin-right: 8px;
}


.accounts .card, .accordion-item.vault-item, .accordion-item.wallet-card {
    border-bottom: 5px solid #129874;
}

.btn-outline-vault-withdraw {
    background-color: transparent!important;
    border: 1px solid #109e77!important;
    color: #109e77!important;
}

.btn-outline-vault-withdraw:first-child:active {
  background-color: transparent!important;
  color: #2f3349!important;
  border: 1px solid #2f3349!important;
}

.fa-lock, .fa-lock-open, .fa-unlock {
    font-size: 3em;
    margin-bottom: 1rem;
}


.wallet-card h4 {
    color: #7b8ab8;
}


.form-floating.address input{height: 100px;}

.addons .btn.disabled, .btn-outline-light:active {
    color: #c5c5c5!important;
}
